
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    /* .col-6{
        width: 100%;
        margin-bottom: 12px;
    } */

    .card{
        margin-bottom: 12px;
        width: 100%;
    }

    .social{
        font-size: 40px;
        padding: 0px;
    }

    .footer{
        margin-top: 48px;
    }

    .dropdown-menu{
        background-color: #302e35;
    }

    .dropdown-menu a{
        color: #fff;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .card{
        width: 100%;
        margin-bottom: 12px;
    }

    .footer{
        margin: 0;
        padding: 24px 0 12px 0;
    }

    .footer__content{
        margin: 0;
    }

    .btn-primary{
        width: 100%;
    }

    #button-addon2{
        border-radius: 4px;
        margin-top: 12px;
    }

    .dropdown-menu{
        background-color: #302e35;
    }

    .dropdown-menu a{
        color: #fff;
    }
}